#chartContainer {
  height:500px;
}
#results {
  overflow-x: scroll;
}
#resultsContainer {
  position: absolute;
  height: 500px;
}
.ui-autocomplete-loading {
  background:url('/images/ui-anim_basic_16x16.gif') no-repeat right center;
}

.big-spinner{
  height: 20px;
  display:block;
  background:url('/images/ui-anim_basic_16x16.gif') no-repeat right center;
}

