body {
  font-family: sans-serif;
}

input {
  height: 30px;
  font-size: large;
}
#chartContainer {
  height:500px;
}
#results {
  overflow-x: scroll;
}
#resultsContainer {
  /*position: absolute;*/
  height: 500px;
}
.ui-autocomplete-loading {
  background:url('/images/ui-anim_basic_16x16.gif') no-repeat right center;
}

.big-spinner{
  height: 20px;
  display:block;
  background:url('/images/ui-anim_basic_16x16.gif') no-repeat right center;
}

#attributeSelection {
  display: none;
  font-size: 13px;
}

#attributeSelection ul {
    list-style-type: none;
    margin-top: 80px;
    padding: 0;
    overflow: scroll;
    background-color: #333333;
    float: bottom;
}

#attributeSelection li {
    float: left;
}

#attributeSelection li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
